<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="MDPM Views"
            id="com.lowcoupling.mdpm.views">
      </category>
      <view
            name="Gantt"
            icon="icons/Program_Icon.png"
            category="com.lowcoupling.mdpm.views"
            class="com.lowcoupling.plan.ui.ganttview.views.GanttView"
            id="com.lowcoupling.mdpm.lng.plan.ganttview.views.GanttView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.lowcoupling.mdpm.lng.plan.ganttview.views.GanttView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
